@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
img {
    max-width: 100%;
}
.table-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    
}
.table-item {
    display: flex;
    padding: 0.5rem;
    
}
.table-item:nth-child(odd) {
    background: #f2f2f2;
    
}
.table-item:nth-child(odd) {
    margin-right: 120px;
}
.table-item:nth-child(even) .table-item-qr-code {
    order: 2;
}
.table-item:nth-child(even) {
    margin-left: 120px;
    justify-content: space-between;
}
.table-item-qr-code {
    width: 100%;
    max-width: 100px;
    margin-right: 1rem;
}
.table-item-qr-code img {

}
.table-item-content {
    display: flex;
    width: 100%;
}
.table-item-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50%;
}
.table-item-action {
    max-width: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.table-item-title {
    font-size: 16px;
    font-weight: bold;
}
.table-item-text p {
    line-height: 1;
    margin: 0;
    font-size: 13px;
}
.table-item-children {
    display: flex;
    margin-top: 5px;
}
.table-item-kid {
    font-size: 15px;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
}
.table-item-kid.bulb::before {
    content: "";
    width: 15px;
    display: flex;
    height: 15px;
    background: url(./bulb.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 0.5rem;
}
.table-item-kid.clock::before {
    content: "";
    width: 15px;
    display: flex;
    height: 15px;
    background: url(./clock.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 0.5rem;
}
.table-item-kid.list::before {
    content: "";
    width: 15px;
    display: flex;
    height: 15px;
    background: url(./list.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 0.5rem;
}
.table-item-bottom {
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.table-item-bottom span:first-child {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    margin-right: 3rem;
}
.table-item-bottom span:last-child {
    display: flex;
    align-items: center;
}

.table-item-bottom span:last-child::before {
    content: "";
    width: 15px;
    height: 15px;
    background: url(./survey.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    margin-right: 0.25rem;
}

.table-item-action ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-images {
    display: flex;
    
}
.table-images img {
    height: 35px;
    object-fit: contain;
    object-position: center;
}
.table-images-item {
    margin: 5px;
}
.number-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 0px;
    font-size: 20px;
    border-bottom: 1px solid black;
    max-width: 350px;
}
.number-line span {
    display: block;
    width: 2px;
    height: 30px;
    background-color: black;
    position: relative;
}
.number-line span.highlighted-step::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50px;
    display: block;

}