@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
img {
    max-width: 100%;
}
.table-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
.logo {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.logo img {
    max-width: 200px;
}
.table-item {
    display: flex;
    padding: 0.5rem;
    
}
.table-item:nth-child(odd) {
    background: #f2f2f2;
    
}
.table-item:nth-child(odd) {
    padding-right: 125px;
}
.table-item:nth-child(even) .table-item-qr-code {
    order: 2;
}
.table-item:nth-child(even) {
    padding-left: 125px;
    justify-content: space-between;
    background: #e0e0e0;

}
.table-item-qr-code {
    width: 100%;
    max-width: 100px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
}
.table-item-qr-code img {
   padding: 3px;
}
.table-item-content {
    display: flex;
    width: 100%;
}
.table-item-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50%;
}
.table-item-action {
    max-width: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.table-item-title {
    font-size: 18px;
    font-weight: bold;
}
.table-item-text p {
    line-height: 1;
    margin: 0;
    font-size: 13px;
}
.table-item-children {
    display: flex;
    margin-top: 5px;
}
.table-item-kid {
    font-size: 15px;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
}
.table-item-kid img {
    width: 15px;
    display: flex;
    height: 15px;
    margin-right: 0.5rem;
}
.table-item-bottom {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.table-item-action ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table-item-action ul li {
    font-size: 13px;
}
.table-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.table-images img {
    height: 50px;
    object-fit: contain;
    object-position: center;
}
.table-images.column {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.table-images-item {
    margin: 5px;
}
.number-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 0px;
    font-size: 20px;
    border-bottom: 1px solid black;
    max-width: 350px;
}
.number-line span {
    display: block;
    width: 2px;
    height: 30px;
    background-color: black;
    position: relative;
}
.number-line span.highlighted-step::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50px;
    display: block;

}
.code {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    margin-right: 3rem;
}
.code-div {
    display: flex;
    align-items: center;
}
.code-div img {
    width: 15px;
    height: 15px;
    display: flex;
    margin-right: 0.25rem;
}
.n {
    color: white;
    font-size: 24px;
    font-weight: 600;
    background: #08008b;
    padding: 0 5px;
    max-width: fit-content;
    margin-left: 0.5rem;
}