$gray: #4F4F4F;
$primary100: #B1E4E9;
$primary300: #3AB7C2;
$primary500: #009FAD;
$primary600: #0D7D87;
$primary800: #1A4F54;
$primary900: #0C3437;
$primary950: #0E2022;
$shadowWhite: #E4E4E4;
$blackDark: #1A1A1A;
$black: #121212;

$xl: 1300px;
$lg: 1024px;
$sm: 567px;
$md: 768px;
$xs: 400px;