.container {
  margin: auto;
  padding: 0 30px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1300px) {
  .container {
    max-width: 1240px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1340px;
  }
}
@media (min-width: 1500px) {
  .container {
    max-width: 1440px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1540px;
  }
}
@keyframes hover-wobble {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
.reference-link:hover > div {
  animation: hover-wobble 0.5s ease-in-out; /* Adjust duration as needed */
}

.reference-link:hover span {
  text-decoration: underline;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("./../fonts/red-hat-display/RedHatDisplay-MediumItalic.woff2") format("woff2"), url("./../fonts/red-hat-display/RedHatDisplay-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("./../fonts/red-hat-display/RedHatDisplay-Black.woff2") format("woff2"), url("./../fonts/red-hat-display/RedHatDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("./../fonts/red-hat-display/RedHatDisplay-BoldItalic.woff2") format("woff2"), url("./../fonts/red-hat-display/RedHatDisplay-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("./../fonts/red-hat-display/RedHatDisplay-SemiBoldItalic.woff2") format("woff2"), url("./../fonts/red-hat-display/RedHatDisplay-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("./../fonts/red-hat-display/RedHatDisplay-ExtraBold.woff2") format("woff2"), url("./../fonts/red-hat-display/RedHatDisplay-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("./../fonts/red-hat-display/RedHatDisplay-Bold.woff2") format("woff2"), url("./../fonts/red-hat-display/RedHatDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("./../fonts/red-hat-display/RedHatDisplay-Italic.woff2") format("woff2"), url("./../fonts/red-hat-display/RedHatDisplay-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("./../fonts/red-hat-display/RedHatDisplay-Medium.woff2") format("woff2"), url("./../fonts/red-hat-display/RedHatDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("./../fonts/red-hat-display/RedHatDisplay-ExtraBoldItalic.woff2") format("woff2"), url("./../fonts/red-hat-display/RedHatDisplay-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("./../fonts/red-hat-display/RedHatDisplay-SemiBold.woff2") format("woff2"), url("./../fonts/red-hat-display/RedHatDisplay-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("./../fonts/red-hat-display/RedHatDisplay-LightItalic.woff2") format("woff2"), url("./../fonts/red-hat-display/RedHatDisplay-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("./../fonts/red-hat-display/RedHatDisplay-Regular.woff2") format("woff2"), url("./../fonts/red-hat-display/RedHatDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("./../fonts/red-hat-display/RedHatDisplay-Light.woff2") format("woff2"), url("./../fonts/red-hat-display/RedHatDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("./../fonts/red-hat-display/RedHatDisplay-BlackItalic.woff2") format("woff2"), url("./../fonts/red-hat-display/RedHatDisplay-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/Inter18pt-BlackItalic.woff2") format("woff2"), url("./../fonts/inter/Inter18pt-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/Inter18pt-Black.woff2") format("woff2"), url("./../fonts/inter/Inter18pt-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/Inter18pt-ExtraBold.woff2") format("woff2"), url("./../fonts/inter/Inter18pt-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/Inter18pt-Bold.woff2") format("woff2"), url("./../fonts/inter/Inter18pt-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/Inter18pt-ExtraBoldItalic.woff2") format("woff2"), url("./../fonts/inter/Inter18pt-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/Inter18pt-BoldItalic.woff2") format("woff2"), url("./../fonts/inter/Inter18pt-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/Inter18pt-Italic.woff2") format("woff2"), url("./../fonts/inter/Inter18pt-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/Inter18pt-LightItalic.woff2") format("woff2"), url("./../fonts/inter/Inter18pt-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/Inter18pt-Medium.woff2") format("woff2"), url("./../fonts/inter/Inter18pt-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/Inter18pt-Light.woff2") format("woff2"), url("./../fonts/inter/Inter18pt-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/Inter18pt-ExtraLight.woff2") format("woff2"), url("./../fonts/inter/Inter18pt-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/Inter18pt-ExtraLightItalic.woff2") format("woff2"), url("./../fonts/inter/Inter18pt-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/Inter18pt-SemiBold.woff2") format("woff2"), url("./../fonts/inter/Inter18pt-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/Inter18pt-ThinItalic.woff2") format("woff2"), url("./../fonts/inter/Inter18pt-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/Inter18pt-Thin.woff2") format("woff2"), url("./../fonts/inter/Inter18pt-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/Inter18pt-MediumItalic.woff2") format("woff2"), url("./../fonts/inter/Inter18pt-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/Inter18pt-SemiBoldItalic.woff2") format("woff2"), url("./../fonts/inter/Inter18pt-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/Inter18pt-Regular.woff2") format("woff2"), url("./../fonts/inter/Inter18pt-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background: #101818;
  display: flex;
  flex-direction: column;
}
.header.scrolling {
  box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.05);
}
@media screen and (max-width: 1024px) {
  .header {
    box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.05);
  }
}
.header-toggle {
  width: 24px;
  height: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-left: auto;
  z-index: 10;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .header-toggle {
    display: none;
  }
}
.header-toggle span {
  display: block;
  border-radius: 0px;
  height: 2px;
  width: 100%;
  background: #E4E4E4;
  transition: 0.25s ease-in-out all;
}
.header-toggle.active span:nth-child(2) {
  opacity: 0;
  transform: translateX(-50px);
}
.header-toggle.active span:first-child {
  transform: rotate(45deg) translate(5px, 3px);
}
.header-toggle.active span:last-child {
  transform: rotate(-45deg) translate(5px, -3px);
}
.header-top {
  padding: 1rem 1.5rem 0 1.5rem;
}
@media screen and (max-width: 1024px) {
  .header-top {
    display: none;
  }
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0.75rem 1.5rem;
}
.header-content-logo {
  max-width: 175px;
  z-index: 10;
  position: relative;
}
@media screen and (max-width: 1300px) {
  .header-content-logo {
    max-width: 100px;
  }
}
.header-content-menu {
  margin-left: auto;
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 1024px) {
  .header-content-menu {
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: fixed;
    height: calc(100vh - 64px);
    width: 100%;
    left: 0;
    background: #101818;
    top: -100%;
    transition: 0.25s ease-in-out top;
    z-index: 5;
    padding: 2rem 1.5rem;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .header-content-menu::-webkit-scrollbar {
    display: none;
  }
  .header-content-menu.active {
    top: 64px;
  }
}
.header-content-menu ul {
  display: flex;
  align-items: center;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1024px) {
  .header-content-menu ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
    width: 100%;
  }
}
.header-content-menu ul li {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.header-content-menu ul li a {
  height: 100%;
  color: #E4E4E4;
  font-size: 0.875rem;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
@media screen and (max-width: 1024px) {
  .header-content-menu ul li a {
    font-size: 25px;
  }
}
.header-content-menu ul li a.external:after {
  content: "";
  width: 9px;
  height: 9px;
  background: url(./../icons/link/external.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 1024px) {
  .header-content-menu ul li a.external:after {
    width: 12px;
    height: 12px;
  }
}
.header-content-menu ul li a:before {
  content: "";
  width: 0;
  height: 3px;
  background: #009FAD;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(12px);
  transition: 0.25s ease-in all;
}
@media screen and (max-width: 1024px) {
  .header-content-menu ul li a:before {
    display: none;
  }
}
.header-content-menu ul li a.active, .header-content-menu ul li a:hover {
  color: #009FAD;
}
.header-content-menu ul li a.active:before, .header-content-menu ul li a:hover:before {
  width: 100%;
  right: 0;
}
.header.light {
  background: white;
}
.header.light .header-content-menu li a {
  color: black;
}
.header.light .header-toggle span {
  background: black;
}
@media screen and (max-width: 1024px) {
  .header.light .header-content-menu {
    background: white;
  }
}

.btn {
  padding: 1.1rem 2.2rem;
  text-decoration: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: fit-content;
  transition: 0.5s ease-in-out box-shadow;
}
.btn.external:after {
  content: "";
  width: 17px;
  height: 17px;
  background: url(./../icons/link/external-long.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.btn.loading {
  pointer-events: none;
}
.btn.loading:before {
  content: "";
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" width="200" height="200" style="shape-rendering: auto; display: block; background: transparent;" xmlns:xlink="http://www.w3.org/1999/xlink"><g><circle stroke-dasharray="164.93361431346415 56.97787143782138" r="35" stroke-width="10" stroke="%23ffffff" fill="none" cy="50" cx="50"><animateTransform keyTimes="0;1" values="0 50 50;360 50 50" dur="1s" repeatCount="indefinite" type="rotate" attributeName="transform"></animateTransform></circle><g></g></g></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  display: block;
}
.btn.loading svg {
  display: none;
}
.btn-primary {
  backdrop-filter: blur(12px);
  background: rgba(0, 159, 173, 0.14);
  border: 2px solid #009FAD;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  color: #E4E4E4;
  border-radius: 50px;
  font-size: 0.875rem;
  transition: 0.25s ease-in-out all;
}
.btn-primary:hover {
  transform: translateY(-2px);
}
@media screen and (max-width: 1300px) {
  .btn-primary {
    font-size: 0.825rem;
  }
}
.btn-clear {
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  color: #009FAD;
  font-size: 0.875rem;
  transition: 0.25s ease-in-out all;
  padding: 1rem 0;
}
.btn-clear:hover {
  transform: translateY(-2px);
}
.btn-clear.internal:after {
  content: "";
  width: 22px;
  height: 11px;
  background: url(./../icons/link/internal-primary.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.btn-clear.external:after {
  content: "";
  width: 17px;
  height: 17px;
  background: url(./../icons/link/external-long-primary.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 1300px) {
  .btn-clear {
    font-size: 0.825rem;
  }
}

.web {
  color: #E4E4E4;
  font-weight: bold;
  border: 1px solid #0D7D87;
  padding: 1rem;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  transition: 0.25s ease-in-out all;
  gap: 0.5rem;
}
.web:after {
  content: "";
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  width: 18px;
  height: 18px;
  background: url(./../icons/link/external-long-primary.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.web:hover {
  transform: translateY(-2px);
}
.web-here {
  font-weight: 700;
  font-size: 14px;
  color: #B1E4E9;
  display: flex;
  margin-bottom: 1rem;
}
.web svg {
  max-height: 32px;
  max-width: 100%;
}
.web svg path {
  fill: #0D7D87;
}
.web-link {
  font-size: 13px;
  color: #0D7D87;
}
.web.active {
  background: #009FAD;
}
.web.active:after {
  display: none;
}
.web.active .web-link {
  color: #E4E4E4;
}
.web.active svg path {
  fill: white;
}

.form-control {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.form-control input {
  border-radius: 10px;
  font-size: 1.125rem;
  color: #3AB7C2;
  padding: 0.6rem 1rem;
  outline: none;
  border: 2px solid transparent;
  width: 100%;
  background: #0E2022;
  font-weight: bold;
}
.form-control input::placeholder {
  color: #009FAD;
  font-weight: 400;
}
.form-control textarea {
  border-radius: 10px;
  font-size: 1.125rem;
  color: #3AB7C2;
  padding: 0.6rem 1rem;
  outline: none;
  border: 2px solid transparent;
  width: 100%;
  background: #0E2022;
  font-weight: bold;
}
.form-control textarea::placeholder {
  color: #009FAD;
  font-weight: 400;
}
.form-control label {
  color: #E4E4E4;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}
.form-control small {
  color: red;
  display: none;
}
.form-control.error input {
  border-color: red;
  background: rgba(255, 0, 0, 0.1);
  color: #E4E4E4;
}
.form-control.error input::placeholder {
  color: rgba(255, 0, 0, 0.5);
}
.form-control.error small {
  display: block;
}

.form-checkbox {
  display: flex;
  flex-direction: column;
}
.form-checkbox-inner label {
  font-size: 1.125rem;
  color: #E4E4E4;
  position: relative;
  padding-left: 46px;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  padding-top: 2px;
}
.form-checkbox-inner label a {
  text-decoration: underline;
}
.form-checkbox-inner label:before {
  content: "";
  width: 32px;
  height: 32px;
  background: #0E2022;
  border: 7px solid #0E2022;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-checkbox-inner input {
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
}
.form-checkbox-inner input:checked ~ label:before {
  background-image: url(./../icons/arrow/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.swiper-right {
  clip-path: inset(-100vw -100vw -100vw -17px);
  overflow: visible;
}

.swiper-button-prev, .swiper-button-next {
  box-shadow: 0px 6px 20px rgba(29, 31, 34, 0.1215686275);
  width: 67px;
  height: 67px;
  background: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 200px;
}
.swiper-button-prev.stay, .swiper-button-next.stay {
  position: unset;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .swiper-button-prev.stay, .swiper-button-next.stay {
    width: 45px;
    height: 45px;
  }
}
.swiper-button-prev svg, .swiper-button-next svg {
  width: 18px;
}
.swiper-button-prev svg path, .swiper-button-next svg path {
  fill: #009FAD;
}
.swiper-button-prev:after, .swiper-button-next:after {
  display: none;
}
.swiper-button-prev svg {
  transform: rotate(-180deg);
}

.swiper-right .swiper-slide-next + div + div {
  opacity: 0.4;
}

.swiper-mobile .swiper-slide img {
  margin: auto;
  max-height: 700px;
}
@media screen and (max-height: 768px) {
  .swiper-mobile .swiper-slide img {
    max-height: 400px;
  }
}

.pointed-list {
  display: flex;
  flex-direction: column;
}
.pointed-list li {
  color: #B1E4E9;
  font-weight: normal;
  text-align: left;
  padding: 1rem 0;
  position: relative;
  display: flex;
}
.pointed-list li:first-child {
  padding-top: 0;
}
.pointed-list li:not(.pointed-list li:last-child):after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, rgba(0, 159, 173, 0.2), rgba(0, 159, 173, 0));
}
.pointed-list li:before {
  content: "";
  margin-right: 1.5rem;
  width: 4px;
  height: 20px;
  background: #3AB7C2;
  transform: rotate(10deg);
}

.breadcrumb {
  background: #0C3437;
  padding: 1rem 0;
}
.breadcrumb ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.breadcrumb ul li {
  font-weight: 900;
  color: white;
  margin-right: 1rem;
}
.breadcrumb ul li:not(.breadcrumb ul li:last-child):after {
  margin-left: 1rem;
  content: "/";
  font-size: 1rem;
  color: #009FAD;
  font-weight: 500;
}
.breadcrumb ul li a {
  font-weight: 500;
  color: #009FAD;
}
.breadcrumb ul li a:hover {
  text-decoration: underline;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background: #0E2022;
}

.font-inter {
  font-family: "Inter", serif;
}

html {
  scroll-behavior: smooth;
}

.filter-primary {
  filter: brightness(0) saturate(100%) invert(67%) sepia(26%) saturate(923%) hue-rotate(136deg) brightness(88%) contrast(80%);
}

/*# sourceMappingURL=main.css.map */
