//Setup
@import './variables.scss';
@import './mixins.scss';
@import './animations.scss';

//Fonts
@import "./font/exo";


//Components
@import "./components/_header.scss";
@import "./components/_button.scss";
@import "./components/_dropdown.scss";
@import "./components/_form.scss";
@import "./components/_swiper.scss";
@import "./components/_list.scss";


//Basic
body {
  font-family: 'Exo', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: $white;
}
html {
  scroll-behavior: smooth;
}
* {
  scroll-margin-top: 108px;
  @media screen and (max-width: $lg) {
    scroll-margin-top: 80px;
  }
}