@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --blue: #1ea2e9;
  --red: #cd071e;
  --purple: #731e80;
  --green: #7eb61c;
  --yellow: #fab700;
  --bgBlue: #e8f4fb;
  --bgPurple: #fbe8ea;
  --bgGreen: #f4f8e5;
  --bgYellow: #fcf6e6;
  --primary: var(--blue);
  --primaryBg: var(--bgBlue);
  --roboto: "Roboto", sans-serif;
  --inter: "Inter", sans-serif;
}

.container-custom {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 576px) {
  .container-custom {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-custom {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-custom {
    max-width: 960px;
  }
}
/*@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1300px) {
    .container {
        max-width: 1240px;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1340px;
    }
}
@media (min-width: 1500px) {
    .container {
        max-width: 1440px;
    }
}
@media (min-width: 1600px) {
    .container {
        max-width: 1540px;
    }
}
*/
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background: #182128;
}

.introduction {
  padding: 4rem 0;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 776px) {
  .introduction {
    grid-template-columns: 1fr;
  }
}
.introduction-cta {
  margin-top: 3rem;
}
.introduction-text p {
  font-size: 1.5rem;
  color: white;
}
.introduction-text p:last-child {
  font-size: 1.125rem;
}
.introduction-image {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 50px;
}
@media screen and (max-width: 776px) {
  .introduction-image {
    display: none;
  }
}
.introduction-image img {
  border-radius: 50%;
}

.how {
  padding: 4rem 0;
}
.how .how-title {
  padding-bottom: 4rem;
}
.how .how-title h2 {
  font-size: 42px;
  text-align: center;
  font-weight: bold;
  color: white;
}
.how .how-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-items: flex-start;
}
@media screen and (max-width: 991px) {
  .how .how-grid {
    grid-template-columns: 1fr;
  }
}
.how .how-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.how .how-item-number {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  background: white;
  color: #182128;
  font-weight: bold;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.how .how-item span {
  color: white;
  font-weight: bold;
  font-size: 24px;
}
.how .how-item p {
  font-size: 16px;
  color: #C0C0C0;
  text-align: center;
}
.how-cta {
  margin: auto;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-button {
  background: #C49A6A;
  color: white;
  padding: 1rem 2rem;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
}
.custom-button:hover {
  background: white;
  color: #C49A6A;
}

.promo-banner {
  background: url("./../images/bg.png");
  min-height: 400px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.promo-banner-text {
  text-align: center;
  font-size: 32px;
  color: white;
  max-width: 700px;
  margin: auto;
}
@media screen and (max-width: 776px) {
  .promo-banner-text {
    font-size: 24px;
  }
}
.promo-banner-text a {
  text-decoration: underline;
  font-weight: bold;
  color: #C49A6A;
}

/*# sourceMappingURL=main.css.map */
