//Setup
@import './variables.scss';
@import './mixins.scss';
@import './animations.scss';

//Fonts
@import "./font/redhat";
@import "./font/inter";


//Components
@import "./components/_header.scss";
@import "./components/_button.scss";
@import "./components/_form.scss";
@import "./components/_swiper.scss";
@import "./components/_list.scss";
@import "./components/_breadcrumb.scss";




//Basic
body {
  font-family: 'Red Hat Display', sans-serif;
  background: $primary950;
}
.font-inter {
  font-family: "Inter", serif;
}
html {
  scroll-behavior: smooth;
}
.filter-primary {
  filter: brightness(0) saturate(100%) invert(67%) sepia(26%) saturate(923%) hue-rotate(136deg) brightness(88%) contrast(80%);
}