//Setup
@import 'variables.scss';
@import 'mixins.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    padding-top: 82px;

}
img {
    max-width: 100%;
}

//HEADER
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    z-index: 999;
    &-logo {
        display: block;
        max-width: 200px;
    }
    &-menu {
        display: none;
    }
    &-contact {
        margin-left: auto;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-size: 15px;
        span {
            margin: 0 1rem;
            font-weight: 600;
        }
    }
    &-toggle {
        margin-left: 2rem;
        background: #f2f2f2;
        width: 100%;
        max-width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        outline: none!important;
        span {
            display: block;
            width: 24px;
            background: var(--secondary);
            height: 3px;
            margin-bottom: 4px;
            &:last-child {
                margin: 0;
            }
        }
    }
}
.hero {
    background: url(./../images/bg-yellow.png);
    height: 100vh;
    width: 100%;

    &-slider {
        &-item {
           display: flex;
            &-image {
                width: 100%;
                max-width: 60%;
            }
            &-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 10%;
                max-width: 30%;
                padding-right: 4rem;
                width: 100%;
                h1 {
                    font-size: 3.125rem;
                    font-weight: 700;
                    color: white;
                    line-height: 1.5;
                }
                &-cta {
                    
                }
            }   
        }
    }
}
