:root {
    --blue: #4E9CA4;
    --red: #F1453D;
    --purple: #5D50C6;
    --green: #8CC152;
    --yellow: #fab700;
    --bgBlue: #e8f4fb;
    --bgPurple: #fbe8ea;
    --bgGreen: #f4f8e5;
    --bgYellow: #fcf6e6;


    --primary: var(--blue);
    --primaryBg: var(--bgBlue);

    --roboto: "Roboto", sans-serif;;
    --inter: 'Inter', sans-serif;
}