.form-control {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  input {
    border-radius: 10px;
    font-size: 1.125rem;
    color: $primary300;
    padding: .6rem 1rem;
    outline: none;
    border: 2px solid transparent;
    width: 100%;
    background: $primary950;
    font-weight: bold;
    &::placeholder {
      color: $primary500;
      font-weight: 400;
    }
  }
  textarea {
    border-radius: 10px;
    font-size: 1.125rem;
    color: $primary300;
    padding: .6rem 1rem;
    outline: none;
    border: 2px solid transparent;
    width: 100%;
    background: $primary950;
    font-weight: bold;
    &::placeholder {
      color: $primary500;
      font-weight: 400;
    }
  }
  label {
    color: $shadowWhite;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
  }
  small {
    color: red;
    display: none;
  }
  &.error {
    input {
      border-color: red;
      background: rgba(255, 0, 0, 0.1);
      color: $shadowWhite;
      &::placeholder {
        color: rgba(255,0,0,0.5);
      }
    }
    small {
      display: block;
    }
  }
}

.form-checkbox {
  display: flex;
  flex-direction: column;
  &-inner {
    label {
      font-size: 1.125rem;
      color: $shadowWhite;
      position: relative;
      padding-left: 46px;
      display: flex;
      align-items: flex-start;
      cursor: pointer;
      padding-top: 2px;
      a {
        text-decoration: underline;
      }
      &:before {
        content: "";
        width: 32px;
        height: 32px;
        background: $primary950;
        border: 7px solid $primary950;
        border-radius: 5px;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    input {
      opacity: 0;
      height: 0;
      width: 0;
      position: absolute;
      &:checked {
        ~ label {
          &:before {
            background-image: url(./../icons/arrow/check.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }
  }
  small   {

  }
}

