.form-control {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  input {
    border: 1px solid $purple;
    padding: 0.75rem 1.5rem;
    border-radius: 50px;
    color: $customBlack;
    outline-color: $purple;
    &::placeholder {

    }
  }
  textarea {
    border: 1px solid $purple;
    padding: 0.75rem 1.5rem;
    border-radius: 16px;
    color: $customBlack;
    outline-color: $purple;
    &::placeholder {

    }
  }
  label {

  }
  small {
    color: red;
    display: none;
  }
  &.error {
    input {
      border-color: red;
      background: rgba(255, 0, 0, 0.1);
      &::placeholder {
        color: rgba(255,0,0,0.5);
      }
    }
    small {
      display: block;
    }
  }
}

.form-checkbox {
  display: flex;
  flex-direction: column;
  &-inner {
    label {
      font-size: 1.125rem;
      position: relative;
      padding-left: 46px;
      display: flex;
      align-items: flex-start;
      cursor: pointer;
      padding-top: 2px;
      a {
        text-decoration: underline;
      }
      &:before {
        content: "";
        width: 32px;
        height: 32px;
        background: $purple;
        border: 7px solid $purple;
        border-radius: 5px;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    input {
      opacity: 0;
      height: 0;
      width: 0;
      position: absolute;
      &:checked {
        ~ label {
          &:before {
            background-image: url(./../icons/arrow/check.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }
  }

}

