.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background: #101818;
  display: flex;
  flex-direction: column;
  &.scrolling {
    box-shadow: 0 0 40px 5px rgba(0,0,0,0.05);
  }
  @media screen and (max-width: $lg) {
    box-shadow: 0 0 40px 5px rgba(0,0,0,0.05);
  }

  &-toggle {
    width: 24px;
    height: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-left: auto;
    z-index: 10;
    position: relative;
    @media screen and (min-width: $lg) {
      display: none;
    }
    span {
      display: block;
      border-radius: 0px;
      height: 2px;
      width: 100%;
      background: #E4E4E4;
      transition: 0.25s ease-in-out all;
    }
    &.active {
      span:nth-child(2) {
        opacity: 0;
        transform: translateX(-50px);
      }
      span:first-child {
        transform: rotate(45deg) translate(5px, 3px);
      }
      span:last-child {
        transform: rotate(-45deg) translate(5px, -3px);
      }
    }
  }
  &-top {
    padding: 1rem 1.5rem 0 1.5rem;
    @media screen and (max-width: $lg) {
      display: none;
    }
  }
  &-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: .75rem 1.5rem;

    &-logo {
      max-width: 175px;
      z-index: 10;
      position: relative;
      @media screen and (max-width: $xl) {
        max-width: 100px;
      }
    }
    &-menu {
      margin-left: auto;
      display: flex;
      gap: 2rem;
      @media screen and (max-width: $lg) {
        flex-direction: column;
        align-items: center;
        margin: auto;
        position: fixed;
        height: calc(100vh - 64px);
        width: 100%;
        left: 0;
        background: #101818;
        top: -100%;
        transition: 0.25s ease-in-out top;
        z-index: 5;
        padding: 2rem 1.5rem;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        &::-webkit-scrollbar {
          display: none;
        }
        &.active {
          top: 64px;
        }
      }
      ul {
        display: flex;
        align-items: center;
        gap: 3rem;
        list-style: none;
        margin: 0;
        padding: 0;
        @media screen and (max-width: $lg) {
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 1.5rem;
          width: 100%;
        }
        li {
          position: relative;
          height: 100%;
          display: flex;
          align-items: center;
          a {
            height: 100%;
            color: $shadowWhite;
            font-size: 0.875rem;
            position: relative;
            text-transform: uppercase;
            font-weight: bold;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            @media screen and (max-width: $lg) {
              font-size: 25px;
            }
            &.external {
              &:after {
                content: "";
                width: 9px;
                height: 9px;
                background: url(./../icons/link/external.svg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                @media screen and (max-width: $lg) {
                  width: 12px;
                  height: 12px;
                }
              }
            }
            &:before {
              content: "";
              width: 0;
              height: 3px;
              background: $primary500;
              position: absolute;
              bottom: 0;
              left: 0;
              transform: translateY(12px);
              transition: 0.25s ease-in all;
              @media screen and (max-width: $lg) {
                display: none;
              }
            }
            &.active, &:hover {
              color: $primary500;
              &:before {
                width: 100%;
                right: 0;
              }
            }
          }

        }
      }
    }
  }
  &.light {
    background: white;

    .header-content-menu {
      li {
        a {
          color: black;
        }
      }
    }
    .header-toggle {
      span {
        background: black;
      }
    }
    @media screen and (max-width: $lg) {
      .header-content-menu {
        background: white;
      }
    }

  }
}