.list-custom {
  display: flex;
  flex-direction: column;
  gap: .375rem;
  counter-reset: list-counter;
  li {
    display: flex;
    align-items: flex-start;
    &:before {
      content: '';
      display: block;
      width: 100%;
      max-width: 9px;
      height: 9px;
      background: $blue;
      border: 1px solid $white;
      border-radius: 50px;
      margin: 7px 10px 7px 0;
    }
  }
}