.swiper-slide {
  height: auto;
}
/*.swiper-references-nav, .swiper-faq-nav {
  &-prev {
    &.swiper-button-disabled:hover img {
      transform: translateX(0) rotate(180deg) !important;
    }
  }
  &-next {
    &.swiper-button-disabled:hover img {
      transform: translateX(0) rotate(0) !important;
    }
  }
  &-prev, &-next {
    &.swiper-button-disabled {
      opacity: .5;
      img {
        scale: 1 !important;
      }
    }
  }
}*/