@font-face {
  font-family: 'Exo';
  src: url('./../fonts/exo/Exo-MediumItalic.woff2') format('woff2'),
      url('./../fonts/exo/Exo-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('./../fonts/exo/Exo-SemiBoldItalic.woff2') format('woff2'),
      url('./../fonts/exo/Exo-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('./../fonts/exo/Exo-LightItalic.woff2') format('woff2'),
      url('./../fonts/exo/Exo-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('./../fonts/exo/Exo-ExtraLight.woff2') format('woff2'),
      url('./../fonts/exo/Exo-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('./../fonts/exo/Exo-Regular.woff2') format('woff2'),
      url('./../fonts/exo/Exo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('./../fonts/exo/Exo-ExtraBoldItalic.woff2') format('woff2'),
      url('./../fonts/exo/Exo-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('./../fonts/exo/Exo-SemiBold.woff2') format('woff2'),
      url('./../fonts/exo/Exo-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('./../fonts/exo/Exo-ExtraBold.woff2') format('woff2'),
      url('./../fonts/exo/Exo-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('./../fonts/exo/Exo-Black.woff2') format('woff2'),
      url('./../fonts/exo/Exo-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('./../fonts/exo/Exo-Medium.woff2') format('woff2'),
      url('./../fonts/exo/Exo-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('./../fonts/exo/Exo-BlackItalic.woff2') format('woff2'),
      url('./../fonts/exo/Exo-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('./../fonts/exo/Exo-ExtraLightItalic.woff2') format('woff2'),
      url('./../fonts/exo/Exo-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('./../fonts/exo/Exo-Bold.woff2') format('woff2'),
      url('./../fonts/exo/Exo-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('./../fonts/exo/Exo-Light.woff2') format('woff2'),
      url('./../fonts/exo/Exo-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('./../fonts/exo/Exo-Thin.woff2') format('woff2'),
      url('./../fonts/exo/Exo-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('./../fonts/exo/Exo-BoldItalic.woff2') format('woff2'),
      url('./../fonts/exo/Exo-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('./../fonts/exo/Exo-Italic.woff2') format('woff2'),
      url('./../fonts/exo/Exo-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('./../fonts/exo/Exo-ThinItalic.woff2') format('woff2'),
      url('./../fonts/exo/Exo-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

