@font-face {
  font-family: 'Red Hat Display';
  src: url('./../fonts/red-hat-display/RedHatDisplay-MediumItalic.woff2') format('woff2'),
  url('./../fonts/red-hat-display/RedHatDisplay-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('./../fonts/red-hat-display/RedHatDisplay-Black.woff2') format('woff2'),
  url('./../fonts/red-hat-display/RedHatDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('./../fonts/red-hat-display/RedHatDisplay-BoldItalic.woff2') format('woff2'),
  url('./../fonts/red-hat-display/RedHatDisplay-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('./../fonts/red-hat-display/RedHatDisplay-SemiBoldItalic.woff2') format('woff2'),
  url('./../fonts/red-hat-display/RedHatDisplay-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('./../fonts/red-hat-display/RedHatDisplay-ExtraBold.woff2') format('woff2'),
  url('./../fonts/red-hat-display/RedHatDisplay-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('./../fonts/red-hat-display/RedHatDisplay-Bold.woff2') format('woff2'),
  url('./../fonts/red-hat-display/RedHatDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('./../fonts/red-hat-display/RedHatDisplay-Italic.woff2') format('woff2'),
  url('./../fonts/red-hat-display/RedHatDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('./../fonts/red-hat-display/RedHatDisplay-Medium.woff2') format('woff2'),
  url('./../fonts/red-hat-display/RedHatDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('./../fonts/red-hat-display/RedHatDisplay-ExtraBoldItalic.woff2') format('woff2'),
  url('./../fonts/red-hat-display/RedHatDisplay-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('./../fonts/red-hat-display/RedHatDisplay-SemiBold.woff2') format('woff2'),
  url('./../fonts/red-hat-display/RedHatDisplay-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('./../fonts/red-hat-display/RedHatDisplay-LightItalic.woff2') format('woff2'),
  url('./../fonts/red-hat-display/RedHatDisplay-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('./../fonts/red-hat-display/RedHatDisplay-Regular.woff2') format('woff2'),
  url('./../fonts/red-hat-display/RedHatDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('./../fonts/red-hat-display/RedHatDisplay-Light.woff2') format('woff2'),
  url('./../fonts/red-hat-display/RedHatDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('./../fonts/red-hat-display/RedHatDisplay-BlackItalic.woff2') format('woff2'),
  url('./../fonts/red-hat-display/RedHatDisplay-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

